# Node
node_modules/

# Next.js
.next/

# Env
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB
*.sqlite
*.db

# VSCode
.vscode/

# OS
.DS_Store

# Build
out/
dist/

# Misc
*.log
*.tgz
.idea/
coverage/

# MCP
mcp-openapi.json
